@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Set your light text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: #78716c; /* Set your dark background color */
    --foreground-rgb: #111827; /* Set your light text color for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  padding: 1rem;
}
